body{
  text-align: center;
	max-width: 80%;
	width: ;
	top-margin: 20px ;
	margin-left: 10%;
margin-right: 10%;


	border-style:30px ;
	border-style:solid;
	border-width: 30px;
	border-color:#8B8989;
	height: 100%; 
	padding: 5%;
	padding-top: 2%;
}
blockquote{
border-left: 5px solid #B7ACA5;
padding-left: 5px;
font-family: 'Ranga', cursive;


}
h2{

	font-family: 'Baloo', cursive;
}
p{
	font-family: 'Supermercado One', cursive;
}
p:nth-of-type(1)  {

color:#0080ff;
letter-spacing: 2px;
text-align: left;
}
p:nth-of-type(4){

color:#0080ff;
letter-spacing: 2px;	
text-align: left;
}
hr { 
	text-align: center;
	margin-top: 5%;
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}